@gray: rgba(11,13,16,.6);
@gray: rgba(11,13,16,.6);
@light_gray: rgba(20,20,20,.4);

.transition (@prop: all, @time: 1s, @ease: linear) {
    -webkit-transition: @prop @time @ease;
    -moz-transition: @prop @time @ease;
    -o-transition: @prop @time @ease;
    -ms-transition: @prop @time @ease;
    transition: @prop @time @ease;
}


.container {
	width: 100%;
	height: 100%;
	border: 2px solid rgba(0,0,0,.5);
	margin: 5px;

}
.sidebar{
	float: left;
	width: 20%;

	.page_element{
		background: @gray;
	}

	.text_element{
		background-image: url('assets/text.png') ;
		width: 55px;
		height: 75px; 
	}

	.image_element{
		background-image: url('assets/image.png') ;
		width: 55px;
		height: 75px; 
	}
}

.editor {
	.transition (all, 0.5s);
	float: right;
	background: @gray;
	width: 80%;
	height: 100%;
}

.current_page {
	width: 100%;
	height: 100%;
}
.dragging_over {
		.transition (all, 0.5s);
		background: @light_gray;
	}

.page {

}

.page:hover {
	cursor: pointer;
}

.layout_text_element {
	width: 100%;
}

.layout_image_element {
	background: url(http://wiki.tripwireinteractive.com/images/4/47/Placeholder.png) no-repeat;
	width: 100%;
	height : 200px;
}